[access]
	inheritFrom = Private-Projects
[submit]
[access "refs/*"]
	owner = group chris10byrd-PortfolioGroup
	owner = group user/Christian Byrd (chris10byrd)
	owner = group user/Jbatl1
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group chris10byrd-PortfolioGroup
	label-Code-Review = -2..+2 group user/Christian Byrd (chris10byrd)
	label-Code-Review = -2..+2 group user/Jbatl1
	label-Verified = -1..+1 group chris10byrd-PortfolioGroup
	label-Verified = -1..+1 group user/Christian Byrd (chris10byrd)
	label-Verified = -1..+1 group user/Jbatl1
	push = group chris10byrd-PortfolioGroup
	push = group user/Christian Byrd (chris10byrd)
	push = group user/Jbatl1
	read = group chris10byrd-PortfolioGroup
	read = group user/Christian Byrd (chris10byrd)
	read = group user/Jbatl1
	rebase = group chris10byrd-PortfolioGroup
	rebase = group user/Christian Byrd (chris10byrd)
	rebase = group user/Jbatl1
	removeReviewer = group chris10byrd-PortfolioGroup
	removeReviewer = group user/Christian Byrd (chris10byrd)
	removeReviewer = group user/Jbatl1
	submit = group chris10byrd-PortfolioGroup
	submit = group user/Christian Byrd (chris10byrd)
	submit = group user/Jbatl1
[access "refs/heads/*"]
	create = group chris10byrd-PortfolioGroup
	create = group user/Christian Byrd (chris10byrd)
	create = group user/Jbatl1
	push = group chris10byrd-PortfolioGroup
	push = +force group user/Christian Byrd (chris10byrd)
	push = group user/Jbatl1
	pushMerge = group chris10byrd-PortfolioGroup
	pushMerge = group user/Christian Byrd (chris10byrd)
	pushMerge = group user/Jbatl1
	read = group chris10byrd-PortfolioGroup
	read = group user/Christian Byrd (chris10byrd)
	read = group user/Jbatl1
[access "refs/tags/*"]
	push = group chris10byrd-PortfolioGroup
	push = group user/Christian Byrd (chris10byrd)
	push = +force group user/Christian Byrd (chris10byrd)
	push = group user/Jbatl1
